<div class="h-screen p-4">
  <div class="note-list flex flex-col p-4 h-full">
    <div class="header">
        <h4>Dung's Note</h4>
        <div class="circle"><span class="number">5</span></div>
      </div>
      <div class="flex flex-col flex-1">
          <ul class="note-tile-wrapper flex-1">
            <li *ngFor="let task of allTasks">
              <app-note-tile content="{{task.content}}" [isCompleted]=task.isCompleted></app-note-tile>
            </li>
          </ul>
        <div>
          <textarea class="note-input" autofocus placeholder="'Type here...'"> </textarea>
        </div>
      </div>
  </div>

</div>
