<div class="h-screen p-4">
  <div class="note-list flex flex-col p-4 h-full">
    <div class="header">
        <h4>Dung's Note</h4>
        <div class="circle"><span class="number">5</span></div>
      </div>

      <div class="flex flex-col flex-1">
        <div class="note-tile-wrapper flex-1" *ngIf="">
          <app-note-tile [content]="'Homework'" [status]="1"></app-note-tile>
          <app-note-tile [content]="'ddddđ'" [status]="2"></app-note-tile>
          <app-note-tile [content]="'rrrrrrrr'" [status]="1"></app-note-tile>
          <app-note-tile [content]="'ggggggg'" [status]="1"></app-note-tile>
        </div>

        <div>
          <textarea class="note-input" autofocus placeholder="'Type here...'"> </textarea>
        </div>
      </div>
  </div>

</div>
